@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;600&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

#box{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.libro{
    height: 300px;
    width: 25%;
    background-color: azure;
    padding: 2rem;
    border: 2px solid navy;
    margin: 2rem;
}